body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

main {
    border: 1px solid black;
    padding: 30px;
}

 .screen {
     height: 500px;
     display: flex;
     justify-content: center;
     align-items: center;
 }



 .optionContainer {
     display: flex;
     justify-content: space-evenly;
 }

 button:hover {
     cursor: pointer;
     transform: scale(1.1);
 }